* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  background-image: url(allImages/89491-milky-way-digital-universe-galaxy-nature-hd-4k-5k-stars.jpg);
  height: 100vh;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

#good-side-tag {
  color: #224cdd;
  font-family: "Permanent Marker", cursive;
}

#evil-side-tag {
  color: #ee111c;
  font-family: "Permanent Marker", cursive;
}

#tic-tac-toe-grid {
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}

#grid {
  display: grid;
  grid-template-rows: repeat(3, 130px);
  grid-template-columns: repeat(3, 130px);
}

#grid-cell {
  background-color: white;
  border: 3px solid black;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 500ms ease-in;
}

#grid-cell.O {
  background-image: url(allImages/jedi-svgrepo-com.svg);
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: center;
}

#grid-cell.X {
  background-image: url(allImages/light-sabers-svgrepo-com.svg);
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: center;
}

#button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#button-reset {
  width: 20rem;
  height: 2rem;
  background: none;
  color: #224cdd;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #224cdd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

#button-reset:hover {
  color: rgb(216, 215, 215);
  background-color: #224cdd;
  box-shadow: #224cdd 0px 10px 20px;
}

#button-gameMode-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
}

.button-gameMode {
  height: 3rem;
  width: 9rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

#button-gameMode-player {
  background-color: rgb(4, 148, 4);
}

#button-gameMode-ai {
  background-color: rgb(203, 182, 20);
}

.button-gameMode:hover {
  transform: translateY(-8%);
}

#button-gameMode-player:hover {
  box-shadow: rgb(4, 148, 4) 0px 8px 20px;
}

#button-gameMode-ai:hover {
  box-shadow: rgb(203, 182, 20) 0px 5px 17px;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 50;
  transform: scale(0);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

#overlay h2 {
  font-size: 3rem;
  color: white;
}

@media (max-width: 715px) {
  h1 {
    font-size: 1.5rem;
  }

  #grid {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
  }

  #grid-cell.O,
  #grid-cell.X {
    background-size: 5rem;
  }

  #overlay h2 {
    font-size: 2.5rem;
  }

  .button-gameMode {
    height: 2rem;
    width: 7rem;
    font-size: 0.7rem;
  }
}
